@model List<MvcBrowserJobs.Models.Jobs>
@{
    ViewData["Title"] = "Browser Jobs NIC";
}

@{
    Layout = "_LayoutCustom";
}

<h3><i class="fa-solid fa-magnifying-glass-location"></i> Busca Profesionales o Ténicos Por:</h1>

<form class="form-inline" method="POST" action="/Jobs/Find">
    <div class="input-group mb-3 ">
    <label class="input-group-text" for="inputGroupSelect01">Profesiones</label>
    <select class="form-select" name="profesion" id="inputGroupSelect01">
        <option selected>Seleccione una Profesión</option>
        <option value="Soldador">Soldador</option>
        <option value="Web Development">Web Development</option>
        <option value="Abogado">Abogado</option>
        <option value="Sastre">Sastre</option>
        <option value="Programador">Programador</option>
        <option value="Chef">Chef</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
    <select class="form-select" name="departamento" id="inputGroupSelect01">
        <option selected>Seleccione un Departamento</option>
        <option value="hinandega">Chinandega</option>
        <option value="León">León</option>
        <option value="anagua">Managua</option>
        <option value="Esteli">Esteli</option>
        <option value="Masaya">Masaya</option>
        <option value="Granada">Granada</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Municipio</label>
    <select class="form-select" name="municipio" id="inputGroupSelect01">
        <option selected>Seleccione un Municipio</option>
        <option value="El Viejo<">El Viejo</option>
        <option value="Chinandega">Chinandega</option>
        <option value="Chichigalpa">Chichigalpa</option>
        <option value="Nagarote">Nagarote</option>
        <option value="León">León</option>
        <option value="Jinotepe">Jinotepe</option>
    </select>

    <button class="btn btn-primary btn-lg" type="submit"><i class="fa-brands fa-searchengin"></i> Buscar</button>
    </div>
</form>


<hr>

@foreach(var item in Model){
    @* Perfiles de los Usuarios *@
    <div class="card mb-3 me-md-3" style="max-width: 530px; max-height: 182px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@item.Perfil" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Profesion, (<small class="text-muted">@item.Categoria</small>)</p>
                    <p class="card-text"><small class="text-muted">@item.Municipio, @item.Departamento</small></p>
                    <a class="" href="/Jobs/Details/@item.Id"> Ver Perfil <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>
}

