@model List<MvcBrowserJobs.Models.Jobs>
@{
    ViewData["Title"] = "Browser Jobs NIC";
}

@{
    Layout = "_LayoutCustom";
}

<h3><i class="fa-solid fa-magnifying-glass-location"></i> Busca Profesionales o Ténicos Por:</h1>

<form class="form-inline" method="POST" action="/Jobs/Find">
    <div class="input-group mb-3 ">
    <label class="input-group-text" for="inputGroupSelect01">Profesiones</label>
    <select class="form-select" name="profesion" id="inputGroupSelect01">
        <option selected>Seleccione una Profesión</option>
        <option value="Soldador">Soldador</option>
        <option value="Web Development">Web Development</option>
        <option value="Abogado">Abogado</option>
        <option value="Sastre">Sastre</option>
        <option value="Programador">Programador</option>
        <option value="Chef">Chef</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
    <select class="form-select" name="departamento" id="inputGroupSelect01">
        <option selected>Seleccione un Departamento</option>
        <option value="hinandega">Chinandega</option>
        <option value="León">León</option>
        <option value="anagua">Managua</option>
        <option value="Esteli">Esteli</option>
        <option value="Masaya">Masaya</option>
        <option value="Granada">Granada</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Municipio</label>
    <select class="form-select" name="municipio" id="inputGroupSelect01">
        <option selected>Seleccione un Municipio</option>
        <option value="El Viejo<">El Viejo</option>
        <option value="Chinandega">Chinandega</option>
        <option value="Chichigalpa">Chichigalpa</option>
        <option value="Nagarote">Nagarote</option>
        <option value="León">León</option>
        <option value="Jinotepe">Jinotepe</option>
    </select>

    <button class="btn btn-primary btn-lg" type="submit"><i class="fa-brands fa-searchengin"></i> Buscar</button>
    </div>
</form>


<hr>

@foreach(var item in Model){
    @* Perfiles de los Usuarios *@
    <div class="container profile-page">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="card profile-header">
                    <div class="body shadow-lg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img src="@item.Perfil" alt=""> </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <h4 class="m-t-0 m-b-0"><strong>@item.Nombre</strong></h4>
                                <span class="job_post">@item.Profesion</span><br>
                                <span class="job_post">@item.Categoria</span>
                                <p>@item.Municipio, <span>@item.Departamento</span></p>
                                <div>
                                    <a href="/Jobs/Details/@item.Id" class="btn btn-primary btn-round">Ver Perfil <i class="fa-solid fa-eye"></i></a>
                                </div>
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label for="radio5">★</label>
                                    </p>
                                </form>
                            </div>                
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
}

